// COLORS
// #5EFC8D
$color-primary: #39a1e7;
$color-primary-light: #1c79b8;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: hsl(207, 100%, 98%);
$color-black: #000;

$default-font-size: 1.6rem;
